@model EmployeeMasterKadai.Models.Employee

@{

    ViewData["Title"] = "Edit";
}

<div>
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="CreatedAt" />
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Department" class="control-label"></label>
            <select asp-for="Department" class="form-control">
                <option value="">選択してください</option>
                <option value="DCG">DCG</option>
                <option value="カイゼン">カイゼン</option>
                <option value="BTG">BTG</option>
            </select>
            <span asp-validation-for="Department" class="text-danger"></span>
        </div>
        <div class="form-group form-check">
            <label class="form-check-label">
                <input id="retirementFlag" class="form-check-input" asp-for="RetirementFlag" /> 
                @Html.DisplayNameFor(model => model.RetirementFlag)
            </label>
        </div>
        <div id="stylInputDay">
            <div class="form-group" id="retirementDayInput">
                <label asp-for="RetirementDay" class="control-label"></label>
                <input asp-for="RetirementDay" class="form-control" type="date"  />
                <span asp-validation-for="RetirementDay" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CreatedAt" class="control-label"></label>
            <input asp-for="CreatedAt" class="form-control" readonly="readonly" value="@Model.CreatedAt.ToString("yyyy-MM-dd HH:mm:ss")" />
            <span asp-validation-for="CreatedAt" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="UpdatedAt" class="control-label"></label>
            <input asp-for="UpdatedAt" class="form-control" readonly="readonly" value="@Model.UpdatedAt.ToString("yyyy-MM-dd HH:mm:ss")" />
            <span asp-validation-for="UpdatedAt" class="text-danger"></span>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}
